@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--grey);
  font-family: "Lato", sans-serif;
}

/* ------------variables--------------- */

:root {
  --light-blue: #dceff8;
  --grey: #686d81;
  --dark-grey: #414554;
  --blue: #83b4f5;
  --dark-blue: #4e719f;
  --white: #fff;
}

body {
  background-color: var(--light-blue);
}

section {
  min-height: 100vh;
  max-width: 100%;
}


/* ---------------header section styling--------------- */

header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: var(--blue);
}


header .logo span {
  color: var(--dark-blue);
}

.logo a {
  color: var(--dark-grey);
  font-weight: 900;
}

.logo {
  padding: 10px 30px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
  height: 50px;
}

nav ul {
  margin-right: 15px;
}

nav li {
  display: inline-block;
  padding: 10px 15px;
  position: relative;
}

nav li::after {
  content: "";
  position: absolute;
  background-color: var(--dark-grey);
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
  scale: 0;
  transition: all 0.3s ease-in;
}

nav li:hover::after {
  scale: 1;
}

nav li a {
  font-weight: bold;
  color: var(--white);
  transition: all 0.3s ease;
}

nav li:hover a {
  color: var(--dark-grey);
}

.dropdown {
  position: relative;
}

.dropdown ul {
  position: absolute;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1rem;
  opacity: 0;
  left: -0.2rem;
  border-radius: 0 0 15px 15px;
  transition: all 0.2s ease-in;
}

.dropdown:hover ul {
  bottom: -2.5rem;
  opacity: 1;
}

.dropdown ul li::after {
  display: none;
}

.dropdown ul li:hover a {
  font-size: 20px;
}

/* -------------------home section----------------- */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homecontent {
  width: 80%;
  display: flex;
  align-items: center;
}

.welcome {
  width: 50%;
  text-align: center;
}

.welcome h1 {
  font-size: 3rem;
  color: var(--grey);
  font-weight: 900;
}

.welcome button {
  margin-top: 30px;
  background-color: var(--blue);
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  border: none;
  outline: none;
  font-weight: 700;
  color: var(--grey);
  transition: all 0.3s ease;
}


.welcome button:hover{
  background-color: var(--dark-blue);
  color: var(--light-blue);
}

.img {
  width: 50%;
}

.img img {
  width: 100%;
  mix-blend-mode: multiply;
}

/* -----------------offer styling------------------ */

.offer {
  height: 200px;
  width: 100%;
  background: url(/images/background/pic3.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer h1 {
  font-size: 64px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  color: var(--light-blue);
  -webkit-text-stroke: 2px #414554;
  letter-spacing: 1px;
}